//imports
@charset "UTF-8";
// @import 'reset';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://use.fontawesome.com/ea07c8ffc1.js);
//colors
$maroon : rgb(39, 21, 20);
$offwhite : rgb(193, 190, 185);
$dkgrey : rgb(28, 25, 25);
$grey : rgb(36, 32, 32);
$dkgreen : rgb(7, 38, 0);

//fonts
//midnight Owl Regular
@font-face {
  font-family: midnightOwl;
  src: url(../fonts/midnightOwlR/MidnightOwl.eot),url(../fonts/midnightOwlR/MidnightOwl.svg),url(../fonts/midnightOwlR/MidnightOwl.woff),url(../fonts/midnightOwlR/MidnightOwl.ttf);
}
//open sans - google font :)
//font-family: 'Open Sans', sans-serif;
//nav Padding



//USEFULL SHINDIGS
//box-sizing:borderbox
.component {
  box-sizing: content-box;
}
//clear fixins'
//http://blog.teamtreehouse.com/a-better-clearfix-with-sass
//using a placeholder selector
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
//Use this in class required:) - @extend %clearfix;

//MIXINS YO!
@mixin default-button(){
  background: $maroon;
  color: $offwhite;
  text-align: center;
  border: none;
  padding: 4%;
  margin-right: 0;
  cursor: pointer;
}
@mixin featured-default(){
  max-width: 100%;
  height: 423px;
  position: relative;
  // color: $grey;
  font-family: midnightOwl, serif;
  overflow: visible;
}
@mixin rated-number(){
  font-family: midnightOwl, serif;
  color: $dkgreen;
  font-size: 2em;
  //using javascript change the css color depending on rating
}
//*******************************DEFAULT STYLES******************************************
html {
  background: url(../images/headerBG.gif)repeat-x,
              // url(../images/home_featured.jpg)no-repeat, 0 107px,
              url(../images/11.jpg)no-repeat;
  background-position:  top, center;
  background-size: auto;
  background-attachment: scroll, fixed;
}
body {
  width: 70%;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  p {
    font-size: 1.5vw;
  }
}
//HEADER STYLES & NAVIGATION *****************************************
header {
  color: $offwhite;
  height: 110px;
  width: 100%;
}

h1 {
  text-indent: -99em;
  background: url(../images/whiteLogosm.png)no-repeat;
  background-size: auto;
  width: 112px;
  height: 77px;
  float: left;
  margin: 1em 0;
}
nav {
  text-align:center;
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
  }
  a {
    text-decoration: none;
    color: $offwhite;
  }
}
.utility {
  width: 30%;
  float: right;
  margin: 1% 0 0 0;
  z-index: 100;
  li {
    font-size: .75em;
    padding-right: 3%;
  }
  li:last-of-type {
    padding-right: 0;
    margin-right: 0;
  }
}
//SEARCH BAR STYLES*****************************************************
.search {
  position: relative;
  float: right;
  width: 70%;
  right: 17%;
}
//global Nav styles****************************************************
.global {
  @extend %clearfix;
  padding-top: 9%;
  li {
   padding-right: 10%;
  }
  li:last-of-type {
    padding-right: 0;
  }
}
.social {
  margin: 1%;
}
.legal {
  color: $offwhite;
  font-size: .75em;
}
// user local nav styles(account/quicklinks)**************************
nav.userNav {
  width: 60px;
  height: 166px;
  background-color: $dkgrey;
  float: right;
  color: $offwhite;
  padding: 5% 0;
  ul {
    display: block;
    list-style-type: none;
  }
  li {
    padding: 20% 0;
  }
  li a {
    text-align: center;
  }
}

//BUTTONS!*************************************************************
input[type="button"] {
  @include default-button();
}
input[type="submit"] {
  background-color: $maroon;
  color: $offwhite;
  width: 30%;
  padding: 2%;
  margin-top: 1em;
  // @include default-button();
}
//FEATURED STYLES *****************************************************
main {
  @extend %clearfix;
}
section.featured {
  @include featured-default();
}
section img{
  overflow: visible;
  position: absolute;
  left: -203px;
  top: -5px;
}
h2 {
  font-size: 2em;
  color: $dkgrey;
  float: left;
}
//FIGURES OF ALL KINDS*******************************************
section.default {
  // @extend %clearfix;
}
//currentlyReading
section.currentlyReading {
  width: 100%;
  height: 300px;
  .bookInfo {
    padding-left: 5%;
  }
  img {
    float: left;
  }
  figcaption {
    float: left;
  }
}

section.currentlyReading input[type="button"] {
  display: inline;
}
//recentlyRated

//rateSquare --
figure.rateSquare {
  max-width: 20%;
  //recently rated on account page width...width changes on the rate page itself 1/3
  text-align: center;
  float: left;
  margin: 5% 3%;
  figcaption {
    padding: 5% 0;
    p {
      @include rated-number;
      float: left;
      max-width: 5%;
    }
    input[type="submit"]{
      @include default-button;
      float: left;
      margin-left: 10%;
    }
    input.review {
      @include default-button;
      max-width: 100%;
    }
  }
}
  figure.oneThird {
    width: 40%;
  }
//
  //rangeslider styles --
  input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    //background: transparent; /* Otherwise white in Chrome */
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  //rangesilder styles -- thumb
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $maroon;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

// /* All the same stuff for Firefox */
// input[type=range]::-moz-range-thumb {
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//   border: 1px solid #000000;
//   // height: 36px;
//   // width: 16px;
//   border-radius: 50%;
//   background: #ffffff;
//   cursor: pointer;
// }
//
// /* All the same stuff for IE */
// input[type=range]::-ms-thumb {
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//   border: 1px solid #000000;
//   height: 36px;
//   width: 16px;
//   border-radius: 3px;
//   background: #ffffff;
//   cursor: pointer;
// }
//FORM STYLES******************************************
form h3 {
  font-size: 1.5em;
  // padding: 1em 0;
}
label {
padding-top: 1em;
}
input, label {
  width: 100%;
  display: block;
  margin: .2em 0;
  color: $grey;
}
input {
  padding: 2%;
  border: none;
  background-color: $offwhite;
}
//BOOKSHELVES*********************************************************
.bookshelf {
  @extend %clearfix;
  background-image: url(../images/bookshelf.jpg)no-repeat;
  background-position: center;
  // width: 100%;
  // height: 19.47%;
}

//FOOTER STYLES *******************************************************
footer {
  @extend %clearfix;
  // height: 150px;
  color: $dkgrey;
}
  small {
    display: block;
    margin: 1%;
    text-align: center;
    font-size: .75em;
  }
